<div class="container__big-card">
    <div class="big-card__picture">
        <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt="">
    </div>
    <div class="big-card__title">
        <h1><a href="">Saiu nova versão do Angular!</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi corrupti ratione, odio aliquid soluta
                totam
                neque, commodi, ex numquam necessitatibus libero? Error ab eligendi hic rerum. Nihil maiores architecto
                adipisci.
            </a> </p>
    </div>
</div>